<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="publication-tab" data-toggle="tab" routerLink='/publications' role="tab" aria-controls="publications" aria-selected="true">Publications</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="sources-tab" data-toggle="tab" routerLink='/sources' role="tab" aria-controls="sources" aria-selected="false">Sources</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="pub" role="tabpanel" aria-labelledby="publication-tab"></div>
    <div class="tab-pane" id="src" role="tabpanel" aria-labelledby="sources-tab"></div>
</div>

<script>
    $(function() {
        $('#myTab li:last-child a').tab('show')
    })
</script>

<router-outlet></router-outlet>